<div class="container md">
  <a routerLink="/add/0" class="btn btn-primary mt-5 md-3">Add order</a>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Country</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.productName }}</td>
        <td>{{order.price}}</td>
        <td>{{order.country}}</td>
        <td>{{order.email}}</td>
        <td><a [routerLink]="['/edit', order.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
